# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Environments
.env
.venv/
env/
venv/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.sqlite3

# IDEs/editors
.vscode/
.idea/
*.code-workspace

# Misc
*.bak
*.orig
